body {
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#distributionChartContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.region-pie {
    width: 100% !important;
    height: auto !important;
}

.series-detail-table {
    margin: 1em;
}

.series-detail-table th {
    color: gray;
}

.series-detail-table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 3px;
    text-align: justify;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    color:rgba(75, 150, 100, 1);
}
