<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% load static %}
    <link rel="shortcut icon" type="image/svg" href="{% static 'images/favicon.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>IDS</title>
</head>
<body>
    <h1 class="title">International Debt Statistics</h1>
    <div>
        <h2>Total Number of Countries</h2>
        <p>{{ total_countries }}</p>
    </div>

    <div>
        <h2>Income Group Distribution by Region</h2>
        <div id="distributionChartContainer"></div>
        
    </div>

    <div>
        <h2>Total Debt (US$) for Each Country in {{ data_year }}</h2>
        <canvas id="debtChart"></canvas>
    </div>

    <script>
    const ctx = document.getElementById('debtChart').getContext('2d');
    const country_array =  {{ countries|safe }};
    const chart = new Chart(ctx, {
        type: 'bar', 
        data: {
            labels: {{ countries|safe }},
            datasets: [{
                label: `Total Amount for ${{ current_year }}`,
                data: {{ amounts|safe }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    ticks: {
                        autoSkip: false,
                        maxRotation: 90,
                    }
                },
                y: {
                    beginAtZero: true
                }
            },
            onClick: (event, elements) => {
                if (elements.length > 0) {
                const index = elements[0].index;
                const countryCode = country_array[index];
                window.location.href = `/dashboard/details/${countryCode}/`;
                }
            }
            
        }
    });


    //==================================================================================
    // Income group distribution by Region
    //==================================================================================
    const distribution_container = document.getElementById('distributionChartContainer');
    const regionsData = {{ regions_data|safe }};
    const incomeLevelColors = {
        'Low income': 'rgba(255, 200, 86, 0.7)', 
        'Lower middle income': 'rgba(240, 210, 112, 0.9)',
        'Upper middle income': 'rgba(75, 192, 152, 0.7)',
        'High income': 'rgba(75, 150, 100, 0.8)'
    };

    function generateColors(labels) {
        return labels.map((label) => {
            return incomeLevelColors[label] || 'rgba(201, 203, 207, 0.2)';  // Default to a gray color if not found
        });
    }

    function createPieChart(ctx, labels, data, title) {
        const colors = generateColors(labels);

        return new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: title,
                    data: data,
                    backgroundColor: colors,
                    borderColor: colors.map(color => color.replace('0.2', '1')),
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                        align: 'start',
                        labels: {
                            font: {
                                size: 16
                            }
                        }
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                const label = context.label || '';
                                const value = context.raw || 0;
                                return `${label}: ${value}`;
                            }
                        }
                    }
                }
            }
        });
    }

    regionsData.forEach((regionData, index) => {
        const region_div = document.createElement('div');
        const canvas = document.createElement('canvas');
        const caption = document.createElement('p');
        region_div.style.textAlign = "center";
        canvas.id = `distributionChart-${index}`;
        canvas.classList.add("region-pie");
        caption.innerHTML = `Distribution in ${regionData.region}`;
        region_div.appendChild(canvas);
        region_div.appendChild(caption);
        distribution_container.appendChild(region_div);

        let ctx = canvas.getContext('2d');
        createPieChart(ctx, regionData.labels, regionData.data, `Distribution in ${regionData.region}`);
        document.querySelector('.region-pie').removeAttribute('style');
    });

  </script>

</body>