<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" type="image/svg" href="{% static 'images/favicon.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/comfortaa.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Country Detail</title>
</head>
<body>
    <h1>Top 5 Debt Indicators for Country: {{ country_name }} ({{ country_code }}) for 2018 ~ 2020</h1>
    <!-- #TODO: Logarithmic scaling -->
    <canvas id="top5chart"></canvas>
    <!-- Table with Series Details -->
    <h2>Series Details</h2>
    <table class="series-detail-table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Indicator Name</th>
                <th>Definition</th>
            </tr>
        </thead>
        <tbody>
            {% for series in chart_data.series_details %}
                <tr>
                    <td>{{ series.code }}</td>
                    <td>{{ series.indicator_name }}</td>
                    <td>{{ series.long_definition }}</td>
                </tr>
            {% endfor %}
        </tbody>    
    </table>

    <h2>Yearly trend for total debt ({{ trend_data.series }})</h2>
    <canvas id="trendChart"></canvas>

    <script>
        var ranking_ctx = document.getElementById('top5chart').getContext('2d');
        var chart = new Chart(ranking_ctx, {
            type: 'bar',
            data: {
                labels: {{ chart_data.labels|safe }},
                datasets: [{
                    label: 'Amount',
                    data: {{ chart_data.data|safe }},
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y',  // For horizontal bar chart
                scales: {
                    x: {
                        beginAtZero: true
                    }
                }
            }
        });



        const trend_ctx = document.getElementById('trendChart').getContext('2d');
        const trendChart = new Chart(trend_ctx, {
            type: 'line',
            data: {
                labels: {{ trend_data.labels|safe }},
                datasets: [{
                    label: 'Amount in USD',
                    data: {{ trend_data.data|safe }}

                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }

        });
    </script>
   


</body>
</html>